In [1]:
.open incidents.db
--.load /Users/alex/projects/sqlite-jiff/dist/debug/jiff0
.load uv:sqlite-jiff
attach database 'backlog.db' as backlog;

Opened database at incidents.db

Loaded 'sqlite-jiff' with uv from /Users/alex/.cache/uv/archive-v0/d6A5MYIS90Hhn7pVdSMKK/lib/python3.13/site-packages/sqlite_jiff/jiff0.dylib

attach database 'backlog.db' as backlog;

In [2]:
drop table if exists calls;
create table calls(
  uid integer primary key,
  agency text,
  address text,
  cross_street text,
  call_at text,
  incident_type text,
  alarm_level text,
  no_units integer,
  units text,
  longitude real,
  latitude real,
  key_map text,
  combined_response text
);

drop table if exists checkpoint;
create table checkpoint(cursor timestamp);
create index checkpoint_cursor on checkpoint(cursor);

drop table if exists calls;

create table calls(
  uid integer primary key,
  agency text,
  address text,
  cross_street text,
  call_at text,
  incident_type text,
  alarm_level text,
  no_units integer,
  units text,
  longitude real,
  latitude real,
  key_map text,
  combined_response text
);

drop table if exists checkpoint;

create table checkpoint(cursor timestamp);

create index checkpoint_cursor on checkpoint(cursor);

In [3]:
select 
  min(time),
  max(time),
  jiff_until(
    jiff_datetime_strptime('%Y-%m-%d %H:%M:%S %z', min(time)), 
    jiff_datetime_strptime('%Y-%m-%d %H:%M:%S %z', max(time))
  ) as spread
from backlog.version;

select
  min(time),
  max(time),
  jiff_until(
    jiff_datetime_strptime('%Y-%m-%d %H:%M:%S %z', min(time)),
    jiff_datetime_strptime('%Y-%m-%d %H:%M:%S %z', max(time))
  ) as spread
from backlog.version;

In [4]:
with paired as (
  select rowid, *, lead(time, 1) over (order by rowid) as next_time
  from backlog.version
)
  select 
  rowid, 
  time,
  next_time,
  iif(next_time is not null, 
    jiff_until(
      jiff_datetime_strptime('%Y-%m-%d %H:%M:%S %z', time), 
      jiff_datetime_strptime('%Y-%m-%d %H:%M:%S %z', next_time)
    )
  ) as duration
from paired
limit 10;

with paired as (
  select rowid, *, lead(time, 1) over (order by rowid) as next_time
  from backlog.version
)
  select
  rowid,
  time,
  next_time,
  iif(next_time is not null,
    jiff_until(
      jiff_datetime_strptime('%Y-%m-%d %H:%M:%S %z', time),
      jiff_datetime_strptime('%Y-%m-%d %H:%M:%S %z', next_time)
    )
  ) as duration
from paired
limit 10;

In [5]:
begin;
.param set noop 1

insert or replace into temp.sqlite_parameters(key, value) values
  (
    'cursor', 
    iif(
      (select count(*) from checkpoint) = 0,
      (select min(time) from backlog.version),
      (select max(cursor) from checkpoint)
  )
);

insert or ignore into calls
  select 
    value ->> '$.attributes.UID'               as uid,
    value ->> '$.attributes.Agency'            as agency,
    value ->> '$.attributes.Address'           as address,
    value ->> '$.attributes.CrossStreet'       as cross_street,
    jiff_timestamp_from_ms(
      value ->> '$.attributes.CALL_TIME'
    ) as call_at,
    value ->> '$.attributes.IncidentType'      as incident_type,
    value ->> '$.attributes.ALARM_LEVEL'       as alarm_level,
    value ->> '$.attributes.NO_UNITS'          as no_units,
    value ->> '$.attributes.Units'             as units,
    value ->> '$.attributes.LONGITUDE'         as longitude,
    value ->> '$.attributes.LATITUDE'          as latitude,
    value ->> '$.attributes.KeyMap'            as key_map,
    value ->> '$.attributes.CombinedResponse'  as combined_response
  from json_each(
    --readfile('getIncidentsGit/data.json'),
    (
      select data_json 
      from backlog.version 
      where time > :cursor
      order by time asc
      limit 1
    ),
    '$.features'
  );
  select :cursor, changes();
  insert into checkpoint(cursor) values (
    (
       select time
      from backlog.version 
      where time > :cursor
      order by time asc
      limit 1
    )
  );
commit;

begin;

set parameter : noop

insert or replace into temp.sqlite_parameters(key, value) values
  (
    'cursor',
    iif(
      (select count(*) from checkpoint) = 0,
      (select min(time) from backlog.version),
      (select max(cursor) from checkpoint)
  )
);

insert or ignore into calls
  select
    value ->> '$.attributes.UID'               as uid,
    value ->> '$.attributes.Agency'            as agency,
    value ->> '$.attributes.Address'           as address,
    value ->> '$.attributes.CrossStreet'       as cross_street,
    jiff_timestamp_from_ms(
      value ->> '$.attributes.CALL_TIME'
    ) as call_at,
    value ->> '$.attributes.IncidentType'      as incident_type,
    value ->> '$.attributes.ALARM_LEVEL'       as alarm_level,
    value ->> '$.attributes.NO_UNITS'          as no_units,
    value ->> '$.attributes.Units'             as units,
    value ->> '$.attributes.LONGITUDE'         as longitude,
    value ->> '$.attributes.LATITUDE'          as latitude,
    value ->> '$.attributes.KeyMap'            as key_map,
    value ->> '$.attributes.CombinedResponse'  as combined_response
  from json_each(
    --readfile('getIncidentsGit/data.json'),
    (
      select data_json
      from backlog.version
      where time > :cursor
      order by time asc
      limit 1
    ),
    '$.features'
  );

select :cursor, changes();

insert into checkpoint(cursor) values (
    (
       select time
      from backlog.version
      where time > :cursor
      order by time asc
      limit 1
    )
  );

commit;